a
	color: $white
	text-decoration: none

.is-katc-gold
	background-color: $katc-gold
	color: $white

	a
		color: $white

		&:hover,
		&:focus
			background-color: $white
			color: $katc-gold

.is-katc-red
	background-color: $katc-red
	color: $white

	a
		color: $white

		&:hover,
		&:focus
			background-color: $white
			color: $katc-red

.section
	font-size: 2rem
	font-weight: 300

	&:nth-of-type(2n)
		background-color: $silver
		border: 1px solid darken($silver, 20%)
		color: $text-color
		margin: 0 !important

	&:nth-of-type(3n)
		background-color: $katc-gold
		border: 1px solid darken($katc-gold, 20%)
		color: $white
		margin: 0 !important

	&-content
		margin: 0 auto
		padding: 3em 1em

.hero-title
	color: $white !important
	font-size: 3.75rem

.hero-subtitle
	color: $white !important
	font-size: 1rem