.banner
    align-content: center
    background-color: $katc-red
    border-bottom: 1px solid $gray
    display: flex
    flex-direction: row
    justify-content: space-between
    margin: 0
    padding: 5px 0