ul.nav-menu
    li
        a#Home(href='/', target='_self') Home
    li
        a#About(href='About', target='_self') About
    li
        a#Services(href='Services', target='_self') Services
    li
        a#Contact(href='Contact', target='_self') Contact