include mixins.pug

header.navbar-brand
	a.brand-logo(href='./')
		img(src='../assets/img/house-logo.svg', alt='Company Logo', width='40', height='40')
		<span class="navbar-company-name">Katc Construction Corp.</span>
	input#navbar-toggle.navbar-toggle(type='checkbox', name='navbar-toggle')
	label.navbar-toggle-label(for='navbar-toggle')
		span.navbar-toggle-label-icon
	nav.navbar(role='navigation')
		+navlinks
	.is-nav-end
		a(href='tel:7542046460') (754) 204 - 6460