include mixins

nav.navbar.is-katc-red(role='navigation', aria-label='main navigation')
    .navbar-brand
        a.navbar-item.brand-logo(href='./'): span.icon.brand-logo-text: i.fas.fa-home.brand-logo-text-size
        
        button.button.is-luminous.navbar-burger.is-radiusless(data-target='navMenu')
            span
            span
            span

    +navlinks

    a.navbar-item.navbar-end.no-hover(href='tel:7542046460') (754) 204-6460