include mixins

nav.navbar.is-katc-red(role='navigation', aria-label='main navigation')
    .navbar-brand
        //- a.navbar-item(href='./'): img(src='//bulma.io/images/bulma-logo.png', alt='Company Logo', width='112', height='28')
        a.navbar-item.brand-logo(href='./'): span.icon.brand-logo-text: i.fas.fa-home.brand-logo-text-size
        
        button.button.is-luminous.navbar-burger.is-radiusless(data-target='navMenu')
            span
            span
            span

    +navlinks