include mixins.pug

header.hero.is-katc-red
	nav.navbar.is-spaced(role='navigation', aria-label='main navigation')
		.navbar-brand
			a.brand-logo.navbar-start.navbar-item(href='./')
				img.mar-r-10(src='assets/img/house-logo.png', alt='Katc Construction Corp. Company Logo')
				<span class="navbar-company-name">Katc Construction Corp.</span>
			a.navbar-burger.katc-burger(role='button', aria-label='menu', aria-expanded='false', data-target='navMenu')
				<span aria-hidden='true'></span>
				<span aria-hidden='true'></span>
				<span aria-hidden='true'></span>
		+navlinks
		.navbar-end
			a.navbar-item.is-hidden-touch(href='tel:7542046460') (754) 204 - 6460