include mixins.pug

footer.is-katc-red
    .hero
        .hero-body
            .container.is-widescreen.is-flex
                .flex-right
                    +navlinks

                .flex-left
                    p &copy; 2015 - 2020 KATC Construction Corp.