mixin navlinks

    #navMenu.navbar-menu.is-katc-red.has-text-centered
        each val, link in {'/' : 'Home' , '/About' : 'About' , '/Services' : 'Services' , '/Contact' : 'Contact'}
            a.navbar-item.pad-b-10(href=link)= val