doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Under Construction
		meta(name='description', content='')
		meta(name='author', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='assets/css/main.css')
		link(rel='icon', type='image/png', href='assets/img/favicon.ico')
	body.home
		include assets/inc/banner
			
		section.hero.is-light.hero-img
			
		section.section
			.container
				h1.title.is-1 Under Construction
				p.intro-statement.
					Welcome!  You have found <span class="site-name"><a href="">KATC Construction.</a></span>.  It's currently under construction at the moment.  Please remember to visit us again soon.
		include assets/inc/footer
				
		script(src='assets/js/scripts.js')