doctype html
html(lang='en')
	head
		title KATC Construction Corp. | About
		meta(charset='UTF-8')
		meta(name='description', content='')
		meta(name='author', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		link(rel='stylesheet', href='//use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
		link(rel='stylesheet', href='../assets/css/main.css')
		link(rel='icon', type='image/png', href='../assets/img/favicon.ico')
	body.about
		include ../assets/inc/banner
			
		section.hero.is-light.hero-img
			h1.title.is-size-3-mobile.white-title.hero-title About
			
		section.section.is-katc-gold.pad-t-150.is-clearfix
			.image-container.is-pulled-left.mar-l-50.mar-r-20
				img(src="../assets/img/roof-house-eight.jpg", alt="House Art")

			.container.is-pulled-right
				p.intro-statement.is-size-4-touch.
					Florida residents know the impact and devastation that natural disasters like hurricanes can cause, that is why the importance of having a quality roof installed is vital in waiting out the storm. KATC Construction Corporation is no stranger when it comes to hard work and reliability. We have served Hurricane Andrew and Hurricane Wilma victims. We were able to survey the damage and provide a triage of quality services for families in need.

		section.section.is-katc-white.pad-t-150.is-clearfix
			.container.is-pulled-left.mar-l-50.mar-r-20
				p.intro-statement.is-size-4-touch.
					KATC Construction Corporation is a family owned and operated business established in 1990 in Miami, Florida. We founded KATC Construction Corporation as a means of bringing superior services to help meet the community’s roofing needs. Our company provides a wide variety of roofing services which include repair, installation, and remodeling. At KATC Construction Corporation we utilize durable, premium grade materials and specialize in shingles, tile, metal, flat roofs and much more. 

			.image-container.is-pulled-right.mar-r-8
				img(src="../assets/img/roof-house-seven.jpg", alt="House Art")

		section.section.is-katc-red.pad-t-150.is-clearfix
			.image-container.is-pulled-left.mar-l-50.mar-r-20
				img(src="../assets/img/roof-house-two.jpg", alt="House Art")

			.container.is-pulled-right
				p.intro-statement.is-size-4-touch.
					Our friendly, skilled and professional staff will ensure that you are given the best available price, as well as walk you through the process of the project. We service South Florida, (Dade, Broward) and also Palm Beach counties. “Why let rain from the outside come inside?” Call us for your free quote today! 

		section.is-katc-gold.pad-t-50.pad-b-50
			p.has-text-centered.white-title.is-size-1-tablet.is-size-3-mobile Call <a class="white-title" href="tel:7542046460">(754) 204-6460</a>

		include ../assets/inc/footer
				
		script(src='../assets/js/scripts.js')
