doctype html
html(lang='en')
	head
		title KATC Construction Corp. | About
		meta(charset='UTF-8')
		meta(name='description', content='')
		meta(name='author', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		link(rel='stylesheet', href='//use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
		link(rel='stylesheet', href='../assets/css/main.css')
		link(rel='icon', type='image/png', href='../assets/img/favicon.ico')
	body.about
		include ../assets/inc/banner
			
		section.hero.is-light.hero-img
			
		section.section
			.container
				h1.title.is-size-1-tablet.is-size-3-mobile Under Construction
				p.intro-statement.is-size-4-touch.
					Welcome!  You have found <span class='site-name'><a href=''>KATC Construction</a></span>.  It's currently under construction at the moment.  Please remember to visit us again soon.
		include ../assets/inc/footer
				
		script(src='../assets/js/scripts.js')
