/* ========================
 About
 ======================= */

.about

	.hero-img
		@extend .hero-img
		background-image: url(../img/hero-about.jpg)

	.image-container
		flex-grow: 3
		flex-shrink: 1
		margin-right: 2rem
		max-width: 553px
		width: 100%

		img
			border: 1px solid $border-color
			border-radius: 20px
			display: block

		+touch
			margin: 1rem auto !important

	.content
		flex-grow: 1
		flex-shrink: 1
		max-width: 730px
		width: 100%

		+touch
			margin: 1.4rem auto
