.about
	.hero
		align-items: center
		display: flex
		flex-direction: column
		justify-content: center
		
		&-img
			background-image: url(../img/hero-about.jpg)
			background-position: top
			background-repeat: no-repeat
			background-size: cover
			height: 45vh
			margin: 0
			max-width: $full-viewport-width
			width: $full-width

		h1.hero-title
			font-size: 75px
			font-weight: 700
			margin: -55px 0 0
			padding: 0
			text-shadow: 2px 2px $black

.is-katc-white
	background-color: $white
	color: $katc-gold

.image-container
	height: 450px
	margin: 0 10px 0 auto
	padding: 0
	width: 450px

	img
		display: block
		margin: 0
		max-width: $full-width
		padding: 0
		width: $full-width
.img-to-right
	margin: 0 auto 0 10px

.is-modern-browser
	display: flex
	flex-direction: row
	justify-content: center