.hero-img
	background-attachment: fixed
	background-image: url(../img/hero-home.jpg)
	background-position: top
	background-repeat: no-repeat
	background-size: cover

.intro-statement
	font-size: 2.3rem
	font-weight: 300

.site-name
	color: $katc-gold

	a
		color: $katc-gold

		&:visited, &:focus, &:hover
			color: $katc-gold