.hero
	width: $site-width
	
.hero-img
	background-attachment: fixed
	background-image: url(../img/hero-home.jpg)
	background-position: top
	background-repeat: no-repeat
	background-size: cover

	+touch
		background-position: center
		min-height: 40vh

.intro-statement
	font-size: 2.3rem
	font-weight: 300

.site-name
	color: $katc-gold

	a
		color: $katc-gold

		&:visited, &:focus, &:hover
			color: $katc-gold

.hero-img2
	@extend .hero-img
	background-image: url(../img/hero-home2.jpg)
	color: $white
	position: relative

	a
		position: absolute
		right: 20px
		top: 300px

		+touch
			position: static