/* ========================
		Services
	======================= */

.services
	.hero-img
		@extend .hero-img
		background-image: url(../img/hero-services.jpg)

	.hero-body
		.columns
			.column
				margin: 0 auto
				&.is-tiled
					// border: 1px dashed blue
					max-width: 580px
					padding: 0
					width: 100%

					h3
						text-align: center

				.image-container
					display: flex
					flex-shrink: 1
					height: 420px
					margin: 10px auto
					// max-height: 420px
					max-width: 580px
					width: 100%

					img
						// border: 1px solid $border-color
						border-radius: 20px
						height: 100%
						max-width: 100%
				
				+touch
					margin-top: 1.3rem

		.font-icon-container, .review-icon
			align-items: center
			background-color: darkslategray
			border: 1px solid $border-color
			border-radius: 50%
			color: $white
			display: flex
			font-size: 30px
			height: 55px
			justify-content: center
			margin: 0 auto
			padding: 30px
			width: 55px

			i.fas
				color: $white