doctype html
html(lang='en')
	head
		title KATC Construction Corp. | Home
		meta(charset='utf-8')
		meta(name='description', content='')
		meta(name='author', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel='stylesheet', href='//use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
		link(rel='stylesheet', href='assets/css/main.css')
		link(rel='icon', type='image/png', href='assets/img/favicon.ico')
	body.home
		include assets/inc/banner
			
		section.hero.is-light.hero-img
			h1.title.is-size-3-mobile.white-title.hero-title KATC Construction Corp
			p.subtitle.white-title.hero-subtitle.is-size-8-touch "Rain is for the Outside not the Inside." Quality Roofing - KATC Construction Corp
			a.button.is-info.has-shadow(href="/Contact") GET A FREE QUOTE
			
		section.section.is-katc-gold.pad-t-150.pad-b-150
			.container
				p.intro-statement.is-size-4-touch.
					At KATC Construction Corporation, we promise to give your home or business the best roof in the industry.  We start by using the industry's highest quality roofing and waterproofing materials.  We are dedicated to using superior products that last for decades.
		
		section.hero.is-light.hero-img-two
			h1.title.is-size-3-mobile.white-title.hero-title Experience
			p.subtitle.white-title.hero-subtitle.is-size-8-touch Over Two Decades of Experience.
			a.title.is-3.is-size-6-touch.white-title.has-text-shadow.position-link(href="/Services") See All Services >

		include assets/inc/footer
				
		script(src='assets/js/scripts.js')
		