doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='keywords', content='KATC, Construction, roofing, shingles, miami, ft. lauderdale, florida, gutters')
		meta(name='author', content='Luminous Hilt')
		meta(name='description', content='Roofing specialist in the south florida region')
		title KATC Construction | Home
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
		link(rel='stylesheet', href='assets/css/main.css')
		link(rel='icon', type='image/png', href='assets/img/favicon.ico')
	body.home
		include assets/inc/banner.pug

		section.hero.is-large
			.hero-body.hero-img
				.container.has-text-centered
					h1.white-title.title.has-text-shadow.is-size-0.is-size-2-touch KATC Construction Corp
					h6.white-title.subtitle.has-text-shadow.is-size-5.is-size-7-touch "Rain is for the Outside, not the Inside." Quality Roofing - KATC Construction Corp
					a(href='/Contact').button.is-info Get A Free Quote

		section.hero.is-large.is-katc-gold
			.hero-body
				.container
					p.is-size-2.is-size-4-touch.
						At KATC Construction Corp., we promise to give your home or business the best roof in the industry.  We start by using the industry's highest quality roofing and waterproofing materials.  We are dedicated to using superior products that last for decades.

		section.hero.is-large
			.hero-body.hero-img2
				.container.has-text-centered
					h1.white-title.title.has-text-shadow.is-size-0.is-size-2-touch Our Services
					h5.white-title-subtitle.has-text-shadow.is-size-4.is-size-6-touch: a(href="#") See our services >

		section.hero.is-katc-gold
			.hero-body
				.container.has-text-centered
					a.is-size-1.is-size-3-touch(href="tel:") Call (754) 204 - 6460

		include assets/inc/footer.pug
		include assets/inc/backtotop.pug

		script(src='assets/js/scripts.js')